.App {
  text-align: center;
}

#profile__img {
  width: 5rem;
  border-radius: 50px;
  margin-top: 30px;
}
#slack {
  display: none;
}
.card {
  width: 80%;
  background: #eaecf0;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-left: auto;
  margin-right: auto;
}
.cards-container {
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  color: black;
}
p {
  font-weight: 6rem;
}
footer {
  padding-top: 23%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
}
