.App {
  text-align: center;
}

#profile__img {
  width: 5rem;
  border-radius: 50px;
  margin-top: 30px;
}
#slack {
  display: none;
}
#twitter {
  color: rgb(0, 217, 255);
}
.card {
  width: 80%;
  background: #eaecf0;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 38px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  /* padding: 10px; */
}
.cards-container {
  margin-left: auto;
  margin-right: auto;
}
.zuri {
  width: 10%;
}
.i4g {
  width: 10%;
}
.svg {
  padding: 10px;
}
.ft {
  width: 5rem;
  /* position: relative; */
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(0, 217, 255);
}
p {
  font-weight: 6rem;
}
footer {
  /* border: 1px solid; */
  padding-top: 8%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 30%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
}

#ft-text {
  color: #667085;
  font-weight: 100;
  font-size: 0.9rem;
}
@media (max-width: 760px) {
  #ft-text {
    font-size: 0.5rem;
  }
 
 
  
}
.input-lbl{
  display: block;
  text-align: left;
  color: #344054;
}

.contact-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid red;   */
  padding: 10px 20%;
}
#last_name{
  display: inline;
  width: 99%;
  padding:10px 14px;
  margin-right:auto;
}
#first_name{
  display:inline;
  width: 99%;
  margin-left: 0;
  margin-right:12px;
  padding:10px 14px;
}
.btn__submit{
  background: #1570EF;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border: 1px solid #1570EF;
  border-radius: 8px;
  padding:15px;
  color:#ffff;
}
.names{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  gap: 8px;
  
  
}
#email{
  width:99%;
}
.lbl{
  display:block;
  text-align: left;
  color: #344054;
}
.name-item{
  width:49.3%;
  
  /* border: 3px solid yellow; */
}
.checkbox{
  text-align: left;
  /* border: 4px solid pink; */
}
#agree{
  margin-left: 0;
}
@media (max-width: 500px) {
  .name-item{
    width:99%;
    
  }
   .names{
    display: flex;
    flex-direction: column;
  }
  #email{
    width:98%;
  }
}
#message{
  width: 99%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius:8px;
}